/* OFFER CLASSES */

.offerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
  width: 15rem;
  padding: 2rem;
}

.establishmentCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  max-width: 20rem;
  padding: 2rem;
  
}

.offerDetailsContainer {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  padding: 1rem;
}

.offerImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offerImage img {
  width: 13rem;
}

.establishmentImage img {
  width: 13rem;
}