/* Cores:

NavBar 		      #4b3f3f MARROM
Botões 	<btn> 	#276359 VERDE ESCURO
Descrições <P> 	#276359 VERDE ESCURO
Títulos <h>	    #276359 VERDE ESCURO
Footer 		      #b9cdcb VERDE CLARO
Linhas <hr>	    #b9cdcb VERDE CLARO
Labels <forms>	#8ebba7 VERDE CLARO 2
Border <DIV>	  #d9d9d9 CINZA CLARO
Linhas hr Forms #f2ddcc AREIA
 */

/* OFFER CLASSES */

.offerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
  width: 15rem;
  padding: 2rem;
}

.offerDetailsContainer {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  padding: 1rem;
}

.offerImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offerImage img {
  width: 13rem;
}

/* ESTABLISHMENT CLASSES */

.establishmentImage img {
  /* Offer details component */
  width: 13rem;
}

.establishmentCard {
  /* Offer details component */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  max-width: 20rem;
  padding: 2rem;
}

.profileMenu {
  padding: 1rem;
  margin-left: 3rem;
}

.establishmentProfileContainer {
  display: flex;
  justify-content: flex-start;
}

.establishmentProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  max-width: 20rem;
  margin-left: 4rem;
  padding: 2rem;
}

.greetingProfileContainer {
  padding: 3rem;
  margin-left: 2rem;
}

.establishmentEditContainer{
  

}


/* All Offers */

.offersBody {
  margin: 0;
  padding: 11.25rem 28.125rem;
  overflow: hidden;
  font-family: sans-serif;
  color: #276359;
}

.container {
  display: flex;
  border-radius: 0.4375rem;
  box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.12),
    0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.24);
}

.img-container {
  position: relative;
  width: 93.75rem;
  height: 28.75rem;
  background: linear-gradient(to top right, #4b3f3f 0%, #4b3f3f 100%);
}

.img-container > img {
  position: absolute;
  left: 50%;
  width: 21.875rem;
  margin: 10.625rem 0 0 -10.9375rem;
}

.content {
  padding: 3rem 4rem 2rem;
}

.content > h3 {
  font-size: 2.5rem;
  margin: 0 0 1rem;
  letter-spacing: 3px;
}

.content > p {
  line-height: 20px;
}

.button {
  display: block;
  outline: none;
  color: #fff;
  background: #276359;
  padding: 0 1.5625rem;
  height: 3.125rem;
  font-size: 0.8rem;
  border-radius: 1.5625rem;
  letter-spacing: 2px;
  margin: 3.125rem 0 0 2.1875rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

button:hover {
  background: #276359;
}

/* Home */
.home-background {
 
  height: 800px ;
  background-image: url(https://res.cloudinary.com/savefood/image/upload/v1596760352/save-food/HomeBG_tcujck.png);
  background-repeat: no-repeat;
}

.homeLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.homeSearchField {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

/* About us */
#section-2 {
  display: flex;
  margin-top: 50px;
  height: 800px;
  background-image: url(https://images.pexels.com/photos/262978/pexels-photo-262978.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-position-y: initial;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section-2 h1 {
  font-size: 80px;
  letter-spacing: 3px;
}

#section-2 p {
  font-size: 30px;
  text-align: center;
}

.modal {
  display: block !important;
  background-color: rgba(0, 0, 0, 0.4);
}


/* General */
h1 {
  color: #276359
}

label {
  color: #276359
}

hr {
  color: #276359
}

/* AddOffer and EditOffer Style */

.divLinesColor{
  border-bottom-color: #f2ddcc;
}

.titleFormat{
  padding: 1rem;
  margin-left: 2rem;
  margin-top: 1.5rem
}

.divbtnSaveAdd{
  padding-left: 14rem;
  color: #276359;
}

.datePosFormAdd {
  margin: 10rem;
}

.btnSaveAdd{
  background-color: #276359 ;
}

/* Cores:

NavBar 		      #4b3f3f MARROM
Botões 	<btn> 	#276359 VERDE ESCURO
Descrições <P> 	#276359 VERDE ESCURO
Títulos <h>	    #276359 VERDE ESCURO
Footer 		      #b9cdcb VERDE CLARO
Linhas <hr>	    #b9cdcb VERDE CLARO
Labels <forms>	#8ebba7 VERDE CLARO 2
Border <DIV>	  #d9d9d9 CINZA CLARO
Linhas hr Forms #f2ddcc AREIA
 */

/* how works styles */
.howWorksBkg {
  background-image: url(https://image.freepik.com/free-photo/closeup-two-business-men-shaking-hands_1262-3740.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/* navbar */
.navbar {
  font-size: 1.5rem;
}

.navbar-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-around;
}

